@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", system-ui;
}

body, html{
   background-color: black;
   overflow: hidden;
   width: 100%; height: 100vh;
}
.container{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    /* border: 1px solid red; */
    width: 1200px;
    height: 800px;
}
.canvas{
    position: absolute;
    left: 0; top: 0;
    /* border: 1px solid green; */
    transform: translate(-600px, -600px);
    width: 200%; /* container 너비 1200px 의 두배 */
    height: auto;
    padding: 200px;
    transition: 1.5s ease-out;
    display: flex;

}
.column{
    position: relative;
    /* border: 1px solid blue; */
    flex: 25%;
}
img{
    width: 100%;
    filter: grayscale(100%);
    padding: 1rem;
}




